@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Monoton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(179.4deg, #fdf0e9 2.2%, #ffd0c2 96.2%);
    height: 100vh;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 15% 80% 5%;
    grid-template-areas: 
    "header canvas"
    "toolbar canvas"
    "footer footer";
}


#header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.title {
    padding: 0;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #8b8878;
}

.sub-title {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #ff0e0e;
    text-shadow: -5px 5px 10px rgba(64, 79, 94, 0.5);
}


#canvas {
    grid-area: canvas;
    width: 800px;
    height: 800px;
    display: grid;
    align-self: center;
    margin-left: 5%;
    background-color: aliceblue;
    border: 2px solid #494544;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.3);
    cursor: crosshair;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.pixel:hover {
    background-color: rgba(131, 124, 120, 0.5);
}


#buttons {
    grid-area: toolbar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 50px 80px;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.5);
    background-color: rgba(17, 25, 40, 0.75);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.btn {
	display: inline-block;
	padding: 13px 32px;
	background: linear-gradient(to bottom, #efeadb 5%, #837c78 100%);
    box-shadow: 0px 10px 14px -7px #425055;
    border: 2px solid #837c78;
	border-radius: 20px;
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
	cursor: pointer;
}

.btn:hover {
    border: 2px solid rgba(131, 124, 120, 0.5);
    transition: all 0.2s ease-out;
}

.btn:active {
    box-shadow: 0px 0px 12px white;
    border: 2px solid rgba(255, 255, 255, 0.6)
}

.color-window {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 100px;
    padding: 0;
    border: none;
    border-radius: 100%;
}

.color-window::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.color-window::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

.color-window:hover {
    background: linear-gradient(to top, #f5f2ec 5%, #eeeae6 100%);
    border: none;
    transition: all 0.2s ease-out;
}

.color-btn {
    background: white;
    box-shadow: 0px 0px 15px white;
    position:relative;
	top:1px;
}

.color-btn:active {
    background: white;
    box-shadow: 0px 0px 15px white;
}

.black-btn {
    background:linear-gradient(to bottom, #494949 5%, #181818 100%);
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    text-shadow:0px 0px 10px white;
	position:relative;
	top:1px;
}

.random-btn {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #dea8f8 0%, #a8def8 21.8%, #bdfacd 35.6%, #f3fabd 52.9%, #fae3bd 66.8%, #f8acac 90%, #fed3fc 99.7%);
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    color: #ffe3e3;
	text-shadow:0px 0px 10px #2b2020;
	position:relative;
	top:1px;
}

.shadow-btn {
    background:linear-gradient(to bottom, #d3d3d3 5%, #a7a7a7 100%);
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    color: #4d4d4d;
    text-shadow:0px 0px 10px #797979;
	position:relative;
	top:1px;
}

.eraser-btn {
    background: #e5edf3;
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    color: black;
    text-shadow:0px 0px 0px black;
	position:relative;
	top:1px;
}

.clear-btn {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.clear-btn:active {
    background: linear-gradient(to top, #efeadb 5%, #837c78 100%);
    box-shadow: 0px 0px 15px white;
    text-shadow:0px 0px 10px white;
    position:relative;
	top:1px;
}

.size-slider {
    width: 100%;
}

.size-text {
    font-family: Arial;
	font-size: 20px;
	font-weight: 800;
	text-shadow: 0px 0px 10px #9c9c9c;
    color: white;
}


#footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
    gap: 10px;
    color: #fff5ee;
    font-size: 20px;
    background-image: linear-gradient(178.2deg, #b39e9e 10.9%, #645045 62.6%);
    border-top: 1px solid #b39e9e;
}

a{
    color: aliceblue;
    text-decoration: none;
}

i {
    font-size: 20px;
}

a:hover {
    color: #ffcfb9;
    text-shadow: 0px 0px 10px #faf5e5;
    transition: all 0.3s ease;
}