* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 20% 75% 5%;
    grid-template-areas: 
    "header canvas"
    "toolbar canvas"
    "footer footer";
    background-image: linear-gradient( 180.3deg,  rgba(214,224,255,1) 37.2%, rgba(254,168,168,1) 137.3% );
}

#header {
    grid-area: header;
    justify-self: center;
    align-self: center;
    font-size: 30px;
}

#canvas {
    grid-area: canvas;
    width: 800px;
    height: 800px;
    display: grid;
    justify-self: center;
    align-self: center;
    background-color: aliceblue;
    border: 2px solid rgb(57, 57, 68);
    box-shadow: -4px 16px 30px rgba(0, 0, 0, 0.5);
    cursor: crosshair;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.pixel:hover {
    background-color: #7f799c8a ;
}

#buttons {
    grid-area: toolbar;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 80px;
    gap: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.5);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    justify-self: center;
    align-self: center;
}

.btn {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#b3aa59;
	border-radius:8px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.btn:active,
.active {
    background:linear-gradient(to bottom, #bea327 5%, #269c53 100%);
	background-color:#bc2dc9;
	position:relative;
	top:1px;
}

.color-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    padding: 0;
    border: none;
    border-radius: 100%;
}

.color-btn::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.color-btn::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

.black-btn {}

.random-btn {}

.shadow-btn {}

.eraser-btn {}

.clear-btn {}

.size-slider {}

.size-text {}

#footer {
    grid-area: footer;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 20px;
    gap: 10px;
    color: rgb(255, 245, 238);
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
}

a{
    color: aliceblue;
    text-decoration: none;
}

i {
    font-size: 20px;
}

a:hover {
    color: rgb(179, 181, 248);
    text-shadow: 0px 0px 10px rgb(209, 214, 240);
    transition: all 0.3s ease;
}